{% extends "base.html" %}

{% block title %}
Impressum | JIA Racing
{% endblock %}


{% block content %}

<section class="page-header">

    <p class="section-label">
        LEGAL NOTICE
    </p>

    <h1>
        Impressum
    </h1>

    <p>
        Kontakt und Anschrift unseres STEM-Racing-Teams.
    </p>

</section>


<section class="content-section">

    <div class="content-text">

        <h2>
            JIA Racing
        </h2>

        <p>
            JIA Racing am Einhard-Gymnasium Aachen<br>
            STEM Racing 2026/27
        </p>

        <p>
            Robert-Schuman-Str. 4<br>
            52066 Aachen
        </p>

    </div>


    <div class="info-box">

        <h3>
            Kontakt
        </h3>

        <ul>
            <li>Minh Dao: <a href="mailto:minh.dao.game5@gmail.com">minh.dao.game5@gmail.com</a></li>
            <li>Omar Ahmed: <a href="mailto:omarahmed6306@gmail.com">omarahmed6306@gmail.com</a></li>
            <li>Telefon: <a href="tel:+4917623350637">+49 176 23350637</a></li>
        </ul>

    </div>

</section>

{% endblock %}